<ng-template #elseBlock>
    <h3 mat-dialog-title> </h3>
</ng-template>

<div mat-dialog-content>
</div>

<table style="text-align: left;">
    <tr style="height: 5px;">
        <th>

        </th>
    </tr>
</table>
<div style="align-content: center;">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><strong>MFN: {{rec_mfn}}</strong></mat-card-title>
            <mat-card-subtitle>{{rec_titulo}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content style="margin-left: 20px;">
            <br>
            <p><span>{{rec_ubicacion_fisica}}</span></p>
            <p><strong>{{rec_autor_personal}}.</strong><span> {{rec_titulo}}./ {{rec_editorial}}.</span></p>
            <p><span>{{rec_ciudad_editorial}}. {{rec_pais_editorial}}.-. {{rec_edicion}}. {{rec_fecha_publicacion}}. {{rec_paginas}}. {{rec_informacion_descriptiva}}. {{rec_idioma}}.</span></p>
            <br>
            <p><span>{{rec_resumen}}</span></p>
            <br>
            <p><span>{{rec_descriptores}}</span></p>
        </mat-card-content>
        <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
    </mat-card>
</div>
<br>
<div mat-dialog-actions class="mat-typography" style="text-align: right !important; display: block; padding-right: 0px;">
    <button mat-raised-button color="primary" (click)="onNoClick()"><mat-icon>check</mat-icon>ACEPTAR</button>
</div>