<link rel="icon" type="image/x icon" href="assets/img/sol.ico">

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <p>{{usuario}} &nbsp; </p>
        <button mat-mini-fab [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="cerrarsesion()">Cerrar Sesión</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<div class="parent">
    <div style="left: 20px; top: 0; text-align: left;">
        <img width="400px" src="assets/img/logo-login.png" id="login"
            style="top: 30px; left:100px; margin-right: 20px;"/>
    </div>
</div>

<h2 style="text-align: center;">Compras Públicas</h2>

<div>
    <section class="sesion">
        <table>
            <tr>
                <td>
                    <mat-card class="example-card">
                        <button mat-fab color="primary">
                        <div class="icon" style="margin-top: 10px;">   
                             <mat-icon [inline]="true">book</mat-icon>
                        </div>
                        </button>
                        <mat-card-footer style="text-align: center;">PAC</mat-card-footer>
                    </mat-card>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-card class="example-card">
                        <button mat-fab color="primary">
                        <div class="icon" style="margin-top: 10px;">   
                             <mat-icon [inline]="true">folder</mat-icon>
                        </div>
                        </button>
                        <mat-card-footer style="text-align: center;">Compras <br>Públicas</mat-card-footer>
                    </mat-card>
                </td>
            </tr>
        </table>
    </section>
</div>