<mat-card>
    <img src="assets/img/cotacachi-logo-login.png" width="400px">
    <mat-card-title>Compras Públicas</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Cedula">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Password">
                </mat-form-field>
            </p>
            <p>
                <mat-checkbox >Administrador</mat-checkbox>               
            </p>
        <div class="button">
            <button type="submit" mat-raised-button color="primary">Ingresar</button>
        </div>
    </form>
    </mat-card-content>
</mat-card>