<mat-card>
    <img src="assets/img/cotacachi-logo-login.png" width="400px">
    <mat-card-title>Compras Públicas</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Cedula" [(ngModel)]="cedula" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input [type]=" 'password' " placeholder="Password" matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
            </p>
            <p>
                <mat-radio-group [(ngModel)]="administracion" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button class="example-margin" value="admin" >Administrador</mat-radio-button>
                </mat-radio-group>               
            </p>
        <div class="button">
            <button type="submit" mat-raised-button color="primary" (click)="loginComprasPublicas()">Ingresar</button>
        </div>
    </form>
    </mat-card-content>
</mat-card>