.mat-form-field {
    display: block;
    background-color: #000;
    height: 180px;
}
.custom-modalbox >  mat-dialog-container {
    padding: 0px;
}
.md-dialog-container {
    background-color: #000;
    width: 250px;
    height: 250px
}
.my-class .mat-dialog-container{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    background: lightcyan;
    color: #039be5;
  }