li span {
    font-weight: normal;
}

span {
    font-weight: normal;
}

.example-card {
    max-width: 90%;
    background: khaki;
    height: 470px;
}

.example-header-image {
    /* background-image: url('../../../assets/img/book.png'); */
    background-size: cover;
}

.example-card-2 {
    width: 90%;
    height: 85%;
    background: sandybrown;
}

.icon {
    font-size: 30px;
}

tr {
    padding-top: -10px;
    height: 15px;
}

.mat-card-content,
.mat-card-subtitle {
    font-size: 12px;
}