<ng-template #elseBlock>
    <h3 mat-dialog-title> </h3>
</ng-template>


<div style="text-align: left; padding-top: 3%; padding-left: 10%;">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><strong>Registro de préstamos de libros</strong></mat-card-title>
            <mat-card-subtitle>{{rec_titulo}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content style="margin-left: 20px;">
            <table>
                <tr>
                    <th>
                        <table style="text-align: left;">
                            <tr style="max-height: 5px;">
                                <th>
                                    <p>Cédula:</p>
                                </th>
                                <th>
                                    <mat-form-field appearance="legacy">
                                        <mat-label></mat-label>
                                        <input matInput placeholder="100xxxxxxx" [(ngModel)]="pre_cedula">
                                        <mat-icon matSuffix>credit_card</mat-icon>
                                        <mat-hint>Cédula/Pasaporte</mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>
                            <tr style="max-height: 5px;">
                                <th>
                                    <p>Nombres:</p>
                                </th>
                                <th>
                                    <mat-form-field appearance="legacy">
                                        <mat-label></mat-label>
                                        <input matInput placeholder="Juan" [(ngModel)]="pre_nombres">
                                        <mat-icon matSuffix>contacts</mat-icon>
                                        <mat-hint>Nombres del solicitante</mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>

                            <tr style="max-height: 5px;">
                                <th>
                                    <p>Apellidos:</p>
                                </th>
                                <th>
                                    <mat-form-field appearance="legacy">
                                        <mat-label></mat-label>
                                        <input matInput placeholder="Pérez Morales" [(ngModel)]="pre_apellidos">
                                        <mat-icon matSuffix>contacts</mat-icon>
                                        <mat-hint>Apellidos del solicitante</mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>
                            <tr style="max-height: 5px;">
                                <th>
                                    <p>Telefóno:</p>
                                </th>
                                <th>
                                    <mat-form-field appearance="legacy">
                                        <mat-label></mat-label>
                                        <input matInput placeholder="099xxxxxxx/06xxxxxxx" [(ngModel)]="pre_campo_1">
                                        <mat-icon matSuffix>contact_phone</mat-icon>
                                        <mat-hint>Teléfono/celular del solicitante</mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>
                            <tr style="max-height: 5px;">
                                <th>
                                    <p>e-mail:</p>
                                </th>
                                <th>
                                    <mat-form-field appearance="legacy">
                                        <mat-label></mat-label>
                                        <input matInput placeholder="juan@gmail.com" [(ngModel)]="pre_campo_2">
                                        <mat-icon matSuffix>contact_mail</mat-icon>
                                        <mat-hint>Correo del solicitante</mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>
                            <tr style="max-height: 5px;">
                                <th>
                                    <p>Institución:</p>
                                </th>
                                <th>
                                    <mat-form-field appearance="legacy">
                                        <mat-label></mat-label>
                                        <input matInput placeholder="Universidad Central del Ecuador" [(ngModel)]="pre_institucion">
                                        <mat-icon matSuffix>location_city</mat-icon>
                                        <mat-hint>Correo del solicitante</mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>
                            <tr style="max-height: 5px;">
                                <th>
                                    <p>Nivel:</p>
                                </th>
                                <th>
                                    <mat-form-field appearance="legacy">
                                        <mat-label></mat-label>
                                        <input matInput placeholder="Séptimo nivel" [(ngModel)]="pre_nivel">
                                        <mat-icon matSuffix>school</mat-icon>
                                        <mat-hint>Nivel/curso/año</mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>

                        </table>
                    </th>
                    <th style="width: 100%; text-align: center !important; ">
                        <br>
                        <mat-card class="example-card-2" style="max-width: 100%; margin-left: 20px; height: 300px;">
                            <a mat-fab #myElement color="accent" target="_blank" (click)="openListaRecursos()" matTooltip="Buscar libro">
                                <div class="icon" style="margin-top: 0px;">
                                    <mat-icon [inline]="true">search</mat-icon>
                                </div>
                            </a>
                            <br>
                            <span *ngIf="rec_mfn">
                                <br>
                            <div style="text-align: left; font-size: 20px;">
                                <strong>MFN: </strong>{{rec_mfn}}<br> <strong>Título:</strong> {{rec_titulo}}
                                <br> <strong> Autor:</strong> {{rec_autor_personal}}
                                <br> <strong>Resumen: </strong>{{rec_resumen}}
                            </div>
                        </span>
                        </mat-card>
                        <br>
                        <div mat-dialog-actions class="mat-typography" style="text-align: right !important; display: block; padding-right: 0; padding-top: 0;">
                            <button mat-raised-button color="primary" (click)="insertPrestamo()"><mat-icon>check</mat-icon>REGISTRAR</button>
                        </div>

                    </th>
                </tr>
            </table>

        </mat-card-content>
        <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
    </mat-card>
</div>
<br>