<div>
    <h3 mat-dialog-title>MFN: {{rec_mfn}}</h3>
</div>
<ng-template #elseBlock>
    <h3 mat-dialog-title> </h3>
</ng-template>

<div mat-dialog-content>
</div>

<table style="text-align: left;">
    <tr>
        <th>

            <p>Planilla: <span>{{rec_planilla}}</span></p>
            <p>Nombre Archivo: <span>{{rec_nombre_archivo}}</span></p>
            <p>Ubicación física: <span>{{rec_ubicacion_fisica}}</span></p>
            <p>Nivel bibliográfico: <span>{{rec_nivel_bibliografico}}</span></p>
            <p>Nivel de registro: <span>{{rec_nivel_registro}}</span></p>
            <p>Autor personal: <span>{{rec_autor_personal}}</span></p>
            <p>Título: <span>{{rec_titulo}}</span></p>
            <p>Nro. páginas: <span>{{rec_paginas}}</span></p>
            <p>Editorial: <span>{{rec_editorial}}</span></p>
            <p>Ciudad editorial: <span>{{rec_ciudad_editorial}}</span></p>
            <p>País editorial: <span>{{rec_pais_editorial}}</span></p>
            <p>Edición: <span>{{rec_edicion}}</span></p>
            <p>Información: <span>{{rec_informacion_descriptiva}}</span></p>

        </th>
        <th>
            <p>Fecha publicación: <span>{{rec_fecha_publicacion}}</span></p>
            <p>Fecha normalizada ISO: <span>{{rec_fecha_iso}}</span></p>
            <p>ISBN: <span>{{rec_isbn}}</span></p>
            <p>Impresión de documento: <span>{{rec_impresion_documento}}</span></p>
            <p>Idioma: <span>{{rec_idioma}}</span></p>
            <p>Resumen: <span>{{rec_resumen}}</span></p>
            <p>Número de referencias: <span>{{rec_numero_referencias}}</span></p>
            <p>Descriptores: <span>{{rec_descriptores}}</span></p>
            <p>Documentalista: <span>{{rec_documentalista}}</span></p>
            <p>Estado de obra: <span>{{rec_estado_obra}}</span></p>
            <p>Número de ejemplares: <span>{{rec_numero_ejemplares}}</span></p>
            <p>Precio unitario: <span>{{rec_precio_unitario}}</span></p>
            <p>Vía de adquisición: <span>{{rec_via_adquisicion}}</span></p>
            <p>Fecha de registro: <span>{{rec_fecha_registro | date: 'dd MMM yyyy - hh:mm'}}</span></p>
        </th>
    </tr>
</table>
<div mat-dialog-actions class="mat-typography" style="text-align: right;">
    <button mat-raised-button color="primary" (click)="onNoClick()"><mat-icon>check</mat-icon>ACEPTAR</button>
</div>