
  /*CUSTOM*/
  .block {
    display: block;
    width: 100%;
    border: none;
  height: 100%;
    padding: 2px 2px;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
  }

  .mat-action-row  {
    padding: 0px;
    margin-left: -8px;
  }
  
  .mat-expansion-panel-body {
    padding: 0px;
  }
  .body{
      background: black;
  }
 




