<mat-toolbar color="link">
    <mat-toolbar-row>
        <span>Ingreso de recursos</span>
        <span class="spacer"></span>

    </mat-toolbar-row>
</mat-toolbar>

<table>
    <tr>
        <th>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_planilla">
                <mat-hint>Planilla</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_nombre_archivo">
                <mat-hint>Nombre del archivo</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput id="correo" autofocus [(ngModel)]="rec_ubicacion_fisica">
                <mat-hint>Ubicación física</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_nivel_bibliografico">
                <mat-hint>Nivel bibliográfico</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_nivel_registro">
                <mat-hint>Nivel de registro</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_autor_personal">
                <mat-hint>Autor personal</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_titulo">
                <mat-hint>Título</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_paginas">
                <mat-hint>Páginas</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput id="correo" autofocus [(ngModel)]="rec_editorial">
                <mat-hint>Editorial</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_ciudad_editorial">
                <mat-hint>Ciudad de la editorial</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_pais_editorial">
                <mat-hint>País de la editorial</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_edicion">
                <mat-hint>Edición</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_informacion_descriptiva">
                <mat-hint>Información descriptiva</mat-hint>
            </mat-form-field>
        </th>
        <th>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_fecha_publicacion">
                <mat-hint>Fecha de publicación</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput id="correo" autofocus [(ngModel)]="rec_fecha_iso">
                <mat-hint>Fecha normalizada ISO</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_isbn">
                <mat-hint>ISBN</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_impresion_documento">
                <mat-hint>Impresión del documento</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_idioma">
                <mat-hint>Idioma del texto</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_resumen">
                <mat-hint>Resumen</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_numero_referencias">
                <mat-hint>Nro. de referencias</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput id="correo" autofocus [(ngModel)]="rec_descriptores">
                <mat-hint>Descriptores</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_documentalista">
                <mat-hint>Documentalista</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_estado_obra">
                <mat-hint>Estado de la obra</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_numero_ejemplares">
                <mat-hint>Nro. de ejemplares</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_precio_unitario">
                <mat-hint>Precio unitario</mat-hint>
            </mat-form-field>
            <mat-form-field [style.width.px]=400>
                <input matInput [(ngModel)]="rec_via_adquisicion">
                <mat-hint>Vía de adquisición</mat-hint>
            </mat-form-field>
        </th>
    </tr>
</table>
<br>

<div style="text-align: right; margin-right: 50px;">
    <div class="button">
        <button type="submit" mat-raised-button color="primary" (click)="insertRecurso()">Ingresar
            <mat-icon aria-hidden="false">save</mat-icon></button>
    </div>
</div>

<br>